<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Capstone Suite">

    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>

    <test name="Form Test">
        <classes>
            <class name="testcases.FormTest"/>
        </classes>
    </test>

    <test name="Alert Test">
        <classes>
            <class name="testcases.AlertTest"/>
        </classes>
    </test>

    <test name="Mouse Action Test">
        <classes>
            <class name="testcases.MouseActionTest"/>
        </classes>
    </test>

    <test name="Slider Test">
        <classes>
            <class name="testcases.SliderTest"/>
        </classes>
    </test>

    <test name="Upload Test">
        <classes>
            <class name="testcases.UploadTest"/>
        </classes>
    </test>

</suite>
